loginColor = #00C853
registerColor = #009688

.login
  padding 1rem

.form-table
  position relative
  margin 2rem 0


.login-form
  padding 0
  margin 0
  button
    border none
    border-radius 5px
  input
    height 2rem
    width 100%



.get-key
  position absolute
  right -3px
  bottom 0
  height 100%
  background #1967d2
  font-size .6rem
  font-weight 400
  color: #fff


.login-button, .register-button, .login-phone-button
  height 2.2rem
  margin 1.2rem 0
  padding 0 1rem
  width 7rem
  font-size .9rem
  color #fff

.register-button
  float right
  background registerColor

.login-button
  float left
  background loginColor

.login-phone-button
  width 100%
  background loginColor

.switch-login-mode
  margin 0
  text-align right
  text-decoration underline
  font-size .6rem
  font-weight 400
  color #b0b0b0

