header-background = #1967d2
headerHeight = 2.7rem

.header
  position relative
  height headerHeight
  background header-background
  box-shadow 0 1px 2px 3px #d0d0d0
  text-align center
  line-height headerHeight
  color #fff
  z-index 999

.header .back-button
  position absolute
  left 10px
  font-size .8rem

.header h3
  font-weight 500
  margin 0

.header .user-icon
  position absolute
  right 10px
  top: 0
  font-size .8rem
  font-weight 200
  i
    padding 0 .3rem