header-background = #1967d2

.header
  position relative
  height 2.4rem
  background header-background
  shadow 0 1px 1px 1px #eee
  text-align center
  line-height 2.4rem
  color #fff
  z-index 999

.header .back-button
  position absolute
  left 10px
  font-size .8rem

.header h3
  font-weight 500
  margin 0

.header .user-icon
  position absolute
  right 10px
  top: 0;
  font-size .8rem
  font-weight 200
  i
    padding 0 .3rem