type-list-background = #f9fdff

.type-active
  background #fff
  border-left 3px solid #fd687d

.type-list
  height 100%
  list-style none
  background type-list-background
  margin 0
  padding 0
  text-align center
  font-size .8rem

.type-list-item
  height 2rem
  line-height 2rem
