.cart
  position fixed
  line-height 2rem
  height 2rem
  background #333
  width 100%
  bottom 0
  color #fff

.cart-count
  float left
  padding 0 1.5rem 0 1.1rem
  i
    font-size 2rem
  em
    position absolute
    top -7px
    left 45px
    width 20px
    height 20px
    font-size .8rem
    background: #fe2947
    border-radius 20px
    text-align center
    font-style normal
    line-height 20px

.cart-total
  float left
  padding-left 1rem

.cart-buy
  float right
  height 2rem
  button
    padding 0 1rem
    background #fe2947
    font-size 1rem
    font-weight 400
    color #fff
    height 100%
    outline none
    border none