.home
  position relative
  background #fff

.home-type
  position fixed
  width 27%
  height 100%
  left 0
  top 0
  background #f9fdff
  padding-top 2rem
  padding-bottom 2.2rem
  border-bottom 1px solid #ebedf0
  box-shadow 2px 0 3px 1px #eee


.home-food
  width: 73%
  left 27%
  position absolute