.home
  position relative
  background #fff

.home-type
  position fixed
  width 27%
  height 100%
  left 0
  top 0
  background #fafafa
  padding-top 2.4rem
  padding-bottom 3rem
  border-bottom 1px solid #ebedf0
  box-shadow 2px 0 3px 1px #eee


.home-food
  width: 73%
  left 27%
  position absolute

input
  outline none
  border none
  min-height 2rem
  border-radius 5px
  border 1px solid #eee
  text-indent .5rem
  font-size .9rem

button
  outline none
  min-height 1.6rem
  border none
