ul
  list-style none
  margin 0
  padding 0

.order
  background #eee
  ul
    background #fff
    margin-bottom 1rem
    border-top 1px solid #e2e2e2
    border-bottom 1px solid #e2e2e2
    li
      padding .8rem .6rem
      border-bottom 1px solid #EDEDED
      select
        width 50%
        background #fff
        box-shadow: inset 0 2px 2px #e9e9e9
        border: 1px solid #aeaeae
        outline none
        font-size .9rem
      input, select, .datepicker__input-container
        float right
.order-date-item

  line-height 2rem
  select
    height 2rem


.order-pay-item
  line-height 2rem
  img
    float right
    height 2rem

.pay
  height 3rem
  padding-bottom  1rem
  button
    width 100%
    height 100%
    border none
    background #2f9c0a
    font-size 1.2rem
    color #fff
