.food-list
  list-style none
  padding 0
  padding-bottom 2.2rem
  margin 0

.food-list-item
  position relative
  padding: .5rem 0
  border-bottom 1px solid #eee
  cursor pointer

.food-info
  position relative
  padding 0 1rem
  div
    margin .3rem
  .food-info-name
    font-size 1.2rem
    font-weight 400
  .food-info-price
    color tomato
    font-size 1.4rem
    font-weight 500
  .food-info-sold
    font-size .8rem
    color #6b6b6b

.food-info-button
    position absolute
    right 10px
    bottom 20px
    button
      border none
      outline none
      height 1.6rem
      width 1.6rem
      background #1967d2
      border-radius 50%
      color #fff
      margin 0 .2rem
      z-index 30