.user-order-list
  padding 0
  margin 0
  list-style none
  background #eee

.user-order-item
  position relative
  padding 1rem .6rem
  margin 1.4rem 0
  background #fff
  border-top 1px solid #e2e2e2
  border-bottom 1px solid #e2e2e2
  cursor pointer
  .order-base
    .base-title
      font-size 1rem
    .base-time
      color #b0b0b0
      font-size .6rem
   .order-status
     position absolute
     right 1.2rem
     top 1.1rem
     .status-paid
       color #333
       font-size .8rem
     .status-unpaid
       color #E53935
       font-size .8rem
     .status-price
       color #333333
       font-size .9rem

 .detail-amount
   padding 0
   margin 0
   .detail-item
      padding .8rem .6rem
      border-bottom 1px solid #EDEDED